<div class="follow-me">
    <button class="social-btn"> <%= link_to "Twitter", "https://www.twitter.com/PaulHurrle" %> </button>
    <button class="social-btn"> <%= link_to "Github", "https://www.github.com/paulhurrle" %> </button>
    <button class="social-btn"> <%= link_to "LinkedIn", "https://www.linkedin.com/in/paulhurrle/" %> </button>
</div>
<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
