<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<div>
    <%= link_to "View Posts", posts_path %>
</div>
<div>
    <%= link_to "View Questions", questions_path %>
</div>
<div>
    <%= link_to "View Advertisements", advertisements_path %>
</div>
